


<div class="login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <h2 class="text-center font-weight-bold font-italic text-capitalize welcome">WELCOME</h2>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder:"email", :class => "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, placeholder:"password", :class => "form-control input-lg" %>
  </div>

  <!-- <% if devise_mapping.rememberable? %>
  <div class="form-group">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end %> -->

  <div class="form-group">
    <%= f.submit "Log in", :class => "btn btn-primary btn-lg btn-block" %>
  </div>

  <div class="form-group">
  <%= link_to "Log In with Facebook", user_facebook_omniauth_authorize_path, :class => " btn btn-outline-primary btn-lg btn-block" %>
  </div>

  <div class="form-group">
    <%= link_to "Log In with google", user_google_oauth2_omniauth_authorize_path,  :class => " btn btn-outline-success btn-lg btn-block" %>
  </div>
 



  <%= render "users/shared/links" %>
  <% end %>
</div>



