<%= render 'navbar' %>


<div>
    <% @allNotifications.each do |notification| %>
    <% if notification['type'] == "inv" %>
    <p><%= notification['name'] %> invited you to 
    <%= link_to notification['category'],
    order_user_order_participation_index_path(notification['order_id'])%>
     from  <%= notification['restaurant'] %>
    </p>
    <% elsif notification['type'] == "join" %>
    <p>
    <%= notification['name'] %> joined your
    <%= link_to "order",order_user_order_participation_index_path(notification['order_id'])%>
    </p>
    <% end %>

    <% end %>
</div>
