<%= render 'navbar' %>

<%suppress(Exception) do%>
  <%if $GroupError.length > 0 %>
    <div class="ui error message" style="font-size:14px">
      <i class="close icon"></i>
      <div class="header">
        There were some errors
      </div>
      <ul class="list" style="font-size:13px">
          <% $GroupError.each do |e| %>
        
            <li>
              <%= e.to_s %>
            </li>
 
          <% end %>
        <%$GroupError=""%>
      <%end%>
    </ul>
  </div>
<% end%>

<%$GroupError=[]%>
<div class="jumbotron py-5 m-0">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h2>Groups</h2>
      </div>
      <div class="col-8">
      </div>
    </div>
    <%= form_for @group  do |f| %>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 pr-3">
          <%= f.text_field :name , id: 'grpName', class: 'form-control', placeholder: 'Enter group\'s Name:' %>
        </div>
        <div class="col-4 pl-0">
          <%= f.submit "Add Group" , class:"btn btn-light" %>
        </div>
      </div>
    <% end %>
    <div class="row pt-5">
      <div class="col-4 pt-3 tablesList text-center">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Group Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="myGroups">
            <% @groups.each do |group| %>
              <tr>
                <td>
                  <%= link_to group_path(group) , method: :get, class: group_path(group) do %>
                    <h5 class="groupName" ><%= group.name %></h5>
                  <% end %>
                </td>
                <td class="pr-0">
                  <%= link_to group_path(group) , method: :get, class: group_path(group) do %>
                    <i class="fas fa-user-plus fa-lg pr-4"></i>
                  <% end %>
                  <%= link_to group_path(group) , method: :delete, data: { confirm: 'Are you sure?' }, class: group_path(group) do %>
                    <i class="fas fa-user-times fa-lg "></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
