<%= render 'navbar' %>
<div class="jumbotron py-5 m-0">
    <div class="container">
        <div class="row">
            <div class="col-4">
                    <h2>Groups</h2>
            </div>
            <div class="col-8">

            </div>
        </div>
 
      
        <%= form_for @group  do |f| %>
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-4 pr-3">
                <%= f.text_field :name , id: 'grpName', class: 'form-control', placeholder: 'Enter group\'s Name:' %>
                </div>
                <div class="col-4 pl-0">
                
                <%= f.submit "Add Group" , class:"btn btn-light" %>
                </div>
            </div>
        <% end %>

          
        <div class="row pt-5">
            <div class="col-4 pt-3 tablesList text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Group Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="myGroups">

                    <% @groups.each do |group| %>
                        <tr>
                            <td>
                            <%= link_to group_path(group) , method: :get, class: group_path(group) do %> 
                        <h5 class="groupName" onclick="displayGroup(<%= group.name %>)"><%= group.name %></h5>
                        <% end %> 
                            </td>
                            <td class="pr-0">
                        
                        <%= link_to group_path(group) , method: :get, class: group_path(group) do %> 
                        <i class="fas fa-user-plus fa-lg pr-4"></i>
                        <% end %> 
                        
                        <%= link_to group_path(group) , method: :delete, data: { confirm: 'Are you sure?' }, class: group_path(group) do %>
                            <i class="fas fa-user-times fa-lg"></i>
                        <% end %>

                            </td>
                        </tr>
                   <% end %>
                    </tbody>
                    </table>
            </div>
            <div class="col-7">
                <div class="row mt-3">
                    <div class="col">
                        <h3 id="groupTitle">.</h3>
                    </div>
                </div>




  
        <%= form_tag({controller: "groups", action: "addUserGroup"}, method: "post") do %>
     <div class="row mt-3">
           <div class="col-6">
                <%= text_field_tag(:name) %>
            </div>
            <div class="col-6">  
                <%= submit_tag("Add", :type => 'submit', class:"btn btn-light") %>
                </div>
            </div>
        <% end %>
        


                <div class="row py-3">
                    <div class="col-4 mt-2">
                        <div class="row">
                            <div class="col-4">
                                <img width="50" src="iconfinder_user_male4_172628.png" rel="userImage"/>
                            </div>
                             
                          <div class="col-8">
                        
                            <%= @groupUsers = UserGroup.where(group_id: $test) %>
                            <%= @groupUsers.each do |groupUser| %>
                                    <a href="#" class="d-block">
                                    <%= User.find_by(id: groupUser.user_id).name %>
                                    </a>
                                    <a href="#" class="rmUserFromGroup">remove user</a>

                                <% end %>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>