
  <!--  <link rel="stylesheet" href="../layouts/login.css">-->

<div class="signup-form">
  <%= form_with scope: :login,id: 'signup', local: true do |form| %>

    <h2 class="text-center">Create an Account</h2>
    <p class="hint-text">Sign up with your social media account or email address</p>
    <div class="social-btn text-center">
      <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
      <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
    </div>

    <div class="or-seperator"><b>or</b></div>

    <div class="form-group">
      <%= form.text_field :username ,:class => "form-control input-lg", placeholder:"User name" %>
    </div>

    <div class="form-group">
      <%= form.email_field :Email ,:class => "form-control input-lg" ,placeholder:"Email Address" %>
    </div>

    <div class="form-group">
      <%= form.password_field :password ,:class => "form-control input-lg" ,placeholder:"Password" %>
    </div>

    <div class="form-group">
      <%= form.password_field :password ,:class => "form-control input-lg" ,placeholder:"Confirm Password" %>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
    </div>

  <% end %>
  <div class="text-center">Already have an account? <a href="./signin.html">Login here</a></div>
</div>


