    <%= render 'navbar' %>
    <div class="container">
        <div class="row justify-content-around text-center">
            <div class="col-5 block">
                <div class="title">
                    <h5 class="titleText">Latest Orders</h5>
                </div>
              <div >
                      <%
                        @orders.each do |order|
                      %>
                      <%
                          if order.user_id === current_user.id
                      %>
                  <p>
                          <%= link_to order.category, orders_path %>
                          on
                          <%= order.date %>
                  </p>
                      <%
                          end
                         end
                      %>
              </div>
            </div>
            <div class="col-5 block">
                <div class=" title">
                    <h5 class="titleText">
                      Friends Activities
                    </h5>
                </div>
              <div>
                        <% @order.each do |order|%>
                      <p>
                              <%= User.find_by_id(order.user_id).name %>
                                has created anorder for
                              <%= link_to order.category, orders_path %>
                                from
                              <%= order.resturant %>
                      </p>
                          <%
                        end
                        %>
              </div>
            </div>
        </div>
    </div>
