    <%= render 'navbar' %>
    <div class="container">
        <div class="row justify-content-around text-center">
            <div class="col-5 block">
                <div class="title">
                    <h5 class="titleText">Latest Orders</h5>
                </div>
              <div >
                      <%
                        @lastOrder.each do |order|
                      %>
                  <p>
                          <%=order.category %>
                          on
                          <%=  order.created_at.strftime("%Y-%d-%h") %>
                  </p>
                      <%
                         end
                      %>
              </div>
            </div>
            <div class="col-5 block">
                <div class=" title">
                    <h5 class="titleText">
                      Friends Activities
                    </h5>
                </div>
              <div>
                        <% @orderFriend.each do |order|%>
                      <p>
                              <%= User.find_by_id(order.user_id).name + " has created anorder for "%>
                              <%= order.category + " from " + order.resturant %>
                      </p>
                          <%
                        end
                        %>
              </div>
            </div>
        </div>
    </div>
