<%= render 'navbar' %>
<div class="container-fluid">

                    <%= button_to new_order_path(), 
                    method: :get,
                    form: {style: 'display:inline-block;margin-left:86%;margin-top:2%;margin-botton:3%'} do %>
                        <i class='fas fa-plus'></i> New order
                        <% end %>

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Order</th>
                <th scope="col">Resturant</th>
                <th scope="col">Invited</th>
                <th scope="col">Joined</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
            <tr>
                <td><%=order.category%></td>
                <td><%=order.resturant%></td>
                <td><%= @invited.where(order_id: order.id).count %></td>
                <td><%= @joined.where(order_id: order.id).count %></td>
                <td><%=order.status%></td>
                <td>
                    <%= button_to order_path(order), 
                    method: :get,
                    form: {style: 'display:inline-block;margin:0'} do %>
                        <i class='far fa-eye'></i>View
                        <% end %>

                    <%if order.status == "waiting" %>
                    <%= button_to order_path(order), 
                method: :put,
                data: { confirm: 'Are you sure?' } , form: {style: 'display:inline-block;margin:0'} do %>
                    <i class='fas fa-trash'></i>Done
                    <% end %>

                    <%= button_to order_path(order), 
                method: :delete,
                data: { confirm: 'Are you sure?' } , form: {style: 'display:inline; margin:0'} do %>
                    <i class='fas fa-trash'></i>Cancel
                    <% end %>
                    ,
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>