<%= render 'navbar' %>
<div class="container">
  <div class="page-header mt-5">
    <h1>Order Details</h1>
  </div>
</div>
<div class="row">
<div class="container mt-1">
  <div class="row">
    <div class="col-sm-6 table-responsive-lg mw-100" style="overflow-y: auto;overflow-x: auto;max-height: 400px">
      <table class="table table-bordered ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Person</th>
            <th scope="col">Item</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="table_body">
          <%
          @orderParticipation.each do |order|
        %>
        <tr>
          <th scope="row"><%= order.user.name %></th>
          <td><%= order.item %></td>
          <td><%= order.amount %></td>
          <td><%= order.price %></td>
          <td><%= order.comment %></td>
          <td>
        <%if order.user.id == current_user.id %>
            <%= button_to "delete", {:controller => :user_order_participation,
                         :action => 'destroy', :id => order.id }, :method => :delete,
                          :class =>'btn btn-outline-danger btn-sm' %>
              <%else %>
              <button type="button" class='btn btn-outline-dark btn-sm'>
                hello
              </button>

              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <div class="oredr-img">
        <%= image_tag @order.menu, :width=>"700" %>
      </div>
    </div>
    <%# end %>
    <div class="container mt-1">
      <div class="invited-joined mt-3 row">
        <div class="invited col-sm-6">
<!--           Button to Open the Modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            invited friends
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Invited Friends</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body row">
                  <%
                  @orderInvited.each do |orderInv|
                %>
                  <div class="card col-sm-2 mx-2" style="width:150px">

                    <% if !orderInv.user.image.nil? %>
                    <img class="card-img-top" src="<%= orderInv.user.image %>" alt="Card image" style="width:100%">
                    <%else%>
                    <img class="card-img-top" src="<%= asset_path('default.png') %>" alt="Card image"
                      style="width:100%">

                    <%end%>
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= orderInv.user.name %>
                      </h5>
                      <%= form_tag({controller: "user_order_participation",
                          action: "deleteUserInvited",:id =>orderInv.user_id,
                          :orderId => orderInv.id }, method: "post") do %>
                            <% submit_tag("remove", :type => 'submit',
                             class:"btn btn-outline-danger btn-sm") %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div><!--  end of invited -->
        <div class="joined col-sm-6">
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
            Joined friends
          </button>

          <!-- The Modal -->
          <div class="modal fade" id="myModal2">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Joined Friends</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body row">
                  <%
                  @orderPartic.each do |orderPar|
                %>
                  <div class="card col-sm-2 mx-2" style="width:150px">
                    <img class="card-img-top" src="<%= asset_path('food_menue.jpg') %>" alt="Card image"
                      style="width:100%">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= orderPar.user.name %>
                      </h5>
                    </div>
                  </div>
                  <%end %>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


        </div><!--  end of joined -->
      </div><!--  end of invited-joined -->
    </div>
  </div> <!--  end of row -->
</div> <!--  end of container -->
</div>

<div class="container">
  <div class="row mt-5">
      <%= form_tag({controller: "user_order_participation", action: "create"}, method: "post") do  %>
        <div class="row col-sm-12">
          <div class="col-sm-3">
            <%= text_field_tag :item,"", class: 'form-control',
             pattern: "[a-zA-Z0-9]*",placeholder: 'Item',:required => true %>
          </div>
          <div class="col-sm-2">
            <%= number_field_tag :amount,"", class: 'form-control',
                placeholder: 'Amount',:required => true, :min => 1 %>
          </div>
          <div class="col-sm-2">
            <%= number_field_tag :price,"", class: 'form-control',
                placeholder: 'Price',:required => true, :min => 3 %>
          </div>
          <div class="col-sm-3">
            <%= text_field_tag :comment,"", pattern: "[a-zA-Z0-9]*",
                class: 'form-control', placeholder: 'Comment' %>
          </div>
        <div class="col-sm-2">
          <%= submit_tag("Add", :type => 'submit', class:"btn btn-primary mb-2") %>
        </div>
      </div>
      <% end %>
    </div>
</div> <!--  end of container -->